<div class="row" ng-controller="ClientListController" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-title">Client list</div>
                    </div>
                    <div class="col-md-6 text-right form-inline">
                        <label for="search">Search:</label>
                        <input id="search" class="form-control" ng-model="query">
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients | filter:query">
                    <td>
                        {{client.name}}
                    </td>
                    <td>
                        {{client.surname}}
                    </td>
                    <td>
                        {{client.age}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>